* {box-sizing:border-box;}

    body {

        background:black;

        color:white;

    }

    .header {

        border:2p solid black;

        background:orange;

        width:800px;

        margin:0 auto;

    }

    .imageContainer {

        overflor:hidden;

        border:2p solid black;

        background:orange;

        margin:0 auto;

        padding:15px;

    }

    img {

        float:left;

        padding:0px;

        margin:0px;

    }
